{% extends 'base.html' %}
{% block title %}Main{% endblock %}
{% block content %}
{% load static %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 " style="text-align: center;">
    <h2>Підсистема аналізу ефективності дільниць вологого подрібнення
збагачувальної фабрики</h2>
    <h4>Добута з надр Землі гірнича маса являє собою суміш грудок окремих
мінералів, мінеральних комплексів, зростків мінералів і вмісних порід різних
розмірів, форми зерен, які мають різні фізичні, фізико-хімічні і хімічні
властивості.</h4>
    </main>
{% endblock %}
